{{>navbar}}


<div style="display: flex;">
    {{>sidebar}}

    <div style="margin-top: 70px; width:100%">



        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"
                        style="text-align: center; font-size: 28px; font-weight: bold; color: #aef7f8; text-transform: uppercase; letter-spacing: 2px; margin-bottom: 20px;">
                        Coupon List</h4>

                    <div class="table-responsive">
                        <table class="table table-striped" id="Table" style="color: white;">
                            <thead>
                                <tr style="height: 50px;">
                                    <th>S.No </th>
                                    <th>Coupon Code</th>
                                    <th>Added Date</th>
                                    <th>Discount percent</th>
                                   
                                    <th>Expire Date</th>
                                    <th>min Purchase</th>
                                    <th>max limit</th>
                                     <th>Status</th>
                                    <th></th>


                                </tr>
                            </thead>
                            <tbody>
                                {{#each couponfind}}
                                <tr style="height: 50px;">
                                    <td class="py-1">
                                        {{inc @index}}
                                    </td>
                                    <td>{{this.couponId}}</td>
                                    <td>{{ formatDate this.addDate}}</td>
                                    <td>{{this.discount}}</td>
                                    
                                    <td>{{formatDate this.expDate}}</td>
                                    <td>{{this.minPurchase}}</td>
                                    <td>{{this.maxLimit}}</td>
                                    <td>{{this.status}}</td>
                                    <td>
                                        {{#if this.status}}

                                        <button style="height: 40px; margin-right: 20px;" class="btn btn-primary "
                                            onclick="alerted('{{this._id}}')">block</button>

                                        {{else}}

                                        <button style="height: 40px; margin-right: 20px;" onclick="alertedUndo('{{this._id}}')"
                                            class="btn btn-primary">unblock</button>


                                        {{/if}}


                                       <a href="/admin/editCoupon/{{this._id}}"> <button style="height: 40px;" class="btn btn-primary"    >Edit</button></a>
                                    </td>

                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



        <script>


function alerted(cId) {
  Swal.fire({
    title: 'Are you sure?',
    text: "you want to block the coupon",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#d33',
    cancelButtonColor: '#3085d6',
    confirmButtonText: 'Yes, blocked it'
  }).then((result) => {
    if (result.isConfirmed) {
      $.ajax({
        url: '/admin/blockCoupon/' + cId,
        method: 'get',
        success: (response) => {
          Swal.fire({
            text: 'coupon blocked successfully',
            icon: 'success',
            showConfirmButton: false
          })
          setTimeout(() => {
            location.reload()
          }, 800)
        },
        
      })
    }
  })
}





function alertedUndo(cId) {
    
    Swal.fire({
      title: 'Are you sure?',
      text: "you want to unblock the coupon",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: 'Yes, unblock  it!'
     
    }).then((result) => {
      
      $.ajax({
        
        url: '/admin/unblockcoupon/' + cId,
        method: 'get',
        success: (response) => {
          if (result.isConfirmed) {
            Swal.fire({
             text: "coupon is unblocked",
              icon: 'success',
              
              showConfirmButton: false,
            })
            setTimeout(() => {
              location.reload()
            }, 800)
          }
        }
      })
      event.preventDefault();
    })
  }


        </script>









        {{>footer}}