{{>navbar}}


<div style="display: flex;">
    {{>sidebar}}

    <div style="margin-top: 40px; margin-left: 70px;">
        <h4 class="card-title"
            style="text-align: center; font-size: 28px; font-weight: bold; color: #aef7f8; text-transform: uppercase; letter-spacing: 2px; margin-bottom: 20px;">
            </h4>

        <div class=" row d-flex justify-content-between" style="margin-top: 50px;  margin-left: 45px;">
            <div class="col-sm-4 grid-margin">
                <div class="card" style="background-color: rgb(36, 39, 72); width:70%;">
                    <div class="card-body">
                        <h5>Total Orders</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0 mt-2">{{totalOrders}}</h2>
                                    <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                                </div>
                                <h6 class="text-muted font-weight-normal mt-3">Since last month</h6>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 grid-margin">
                <div class="card" style="background-color: rgb(36, 39, 72); width:70%;">
                    <div class="card-body">
                        <h5>Total Sales</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">${{totalSales.[0].total}}</h2>
                                    <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                                </div>
                                <h6 class="text-muted font-weight-normal">Since last month</h6>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 grid-margin">
                <div class="card" style="background-color: rgb(36, 39, 72); width:70%;">
                    <div class="card-body">
                        <h5> Total Users</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0">{{totalUsers}}</h2>
                                    <p class="text-danger ml-2 mb-0 font-weight-medium"></p>
                                </div>
                                <h6 class="text-muted font-weight-normal"> Since last month</h6>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row  d-flex margin-left:0px">
            <div class="col-lg-6 grid-margin stretch-card" style="width:100%; ">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Daily order for a week</h4>
                        <canvas id="barChart" style="height:300px;width:100%;background-color: rgb(36, 39, 72); "></canvas>
                    </div>
                </div>
            </div>
              <div class="col-lg-6 grid-margin stretch-card" style="width:100%; ">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Total orders as per category</h4>
                        <canvas id="doughnutChart" style="height:300px;width:100%;background-color: rgb(36, 39, 72); "></canvas>
                    </div>
                </div>
            </div>
       
        </div>
        <div style="display: flex; justify-content: center;">
            <div class="col-sm-4 grid-margin" style="margin-top: 13%;">
                <div class="card" style="background-color: rgb(36, 39, 72); width:70%;">
                    <div class="card-body">
                        <h5>Total Products</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0 mt-2">{{totalProducts}}</h2>
                                    <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                                </div>
                                <h6 class="text-muted font-weight-normal mt-3">Since last month</h6>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Transaction History</h4>
                    <canvas id="transaction-history" class="transaction-chart" style="background-color: rgb(36, 39, 72);"></canvas>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1"> Online payment</h6>
                        <p class="text-muted mb-0">within Last month</p>
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">${{pTotal.[0].total}}</h6>
                      </div>
                    </div>
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Cash On Delivery</h6>
                        <p class="text-muted mb-0">within last month</p>
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">${{pTotal.[1].total}}</h6>
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <input type="hidden" value="{{categoryNames}}" id="catName">

              <div class="col-sm-4 grid-margin" style="margin-top: 13%;">
                <div class="card" style="background-color: rgb(36, 39, 72); width:70%;">
                    <div class="card-body">
                        <h5>Total Categories</h5>
                        <div class="row">
                            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                <div class="d-flex d-sm-block d-md-flex align-items-center">
                                    <h2 class="mb-0 mt-2">{{ totalCategories}}</h2>
                                    <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                                </div>
                                <h6 class="text-muted font-weight-normal mt-3">Since last month</h6>
                            </div>
                            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         
          

    </div>

{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> --}}
    <script src="/assets/vendors/chart.js/Chart.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>






 <script>
   
 var categoryNames = document.getElementById("catName").value;
  console.log(categoryNames)
  var categoryNamesArray = categoryNames.split(",");
  console.log(categoryNamesArray);
  
    var data1 = {
        labels: ["6 DAYS BEFORE","5 DAYS BEFORE","4 DAYS BEFORE","3 DAYS BEFORE","2 DAYS BEFORE","Yesturday","Today"],
        datasets: [{
            label: 'COUNT OF DAILY ORDERS',
            data: [{{orderCounts}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth:2,
            fill: false
        }]
    };



  //   Get context with jQuery - using jQuery's .get() method.
 if ($("#barChart").length) {
        var barChartCanvas = $("#barChart").get(0).getContext("2d");
   //  This will get the first returned node in the jQuery collection.
      var barChart = new Chart(barChartCanvas, {
       type: 'bar',
            data: data1,
           
       });
    } 



     var doughnutPieData = {
   datasets: [{
      data: [{{categoryCounts}}],
     backgroundColor: [
        'rgba(255, 99, 132, 0.5)',
         'rgba(54, 162, 235, 0.5)',
        'rgba(255, 206, 86, 0.5)',
        'rgba(75, 192, 192, 0.5)',
         'rgba(153, 102, 255, 0.5)',
        'rgba(255, 159, 64, 0.5)'
       ],
      borderColor: [
        'rgba(255,99,132,1)',
       'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
         'rgba(75, 192, 192, 1)',
         'rgba(153, 102, 255, 1)',
         'rgba(255, 159, 64, 1)'
       ],
     }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
     labels: categoryNamesArray,
   };
   var doughnutPieOptions = {
     responsive: true,
     animation: {
       animateScale: true,
       animateRotate: true
     }
   };



    if ($("#doughnutChart").length) {
     var doughnutChartCanvas = $("#doughnutChart").get(0).getContext("2d");
    var doughnutChart = new Chart(doughnutChartCanvas, {
       type: 'doughnut',
       data: doughnutPieData,
      options: doughnutPieOptions
    });
  }









if ($("#transaction-history").length) {
      var areaData = {
        labels: ["online payment", "cash on delivery"],
        datasets: [{
            data: [{{count}}],
            backgroundColor: [
              "rgba(255,99,132,1)","rgba(54, 162, 235, 1)","rgba(255, 206, 86, 0.5)"
            ]
          }
        ]
      };
      var areaOptions = {
        responsive: true,
        maintainAspectRatio: true,
        segmentShowStroke: false,
        cutoutPercentage: 70,
        elements: {
          arc: {
              borderWidth: 0
          }
        },      
        legend: {
          display: false
        },
        tooltips: {
          enabled: true
        }
      }
      var transactionhistoryChartPlugins = {
        beforeDraw: function(chart) {
          var width = chart.chart.width,
              height = chart.chart.height,
              ctx = chart.chart.ctx;
      
          ctx.restore();
          var fontSize = 1;
          ctx.font = fontSize + "rem sans-serif";
          ctx.textAlign = 'left';
          ctx.textBaseline = "middle";
          ctx.fillStyle = "#ffffff";
      
          var text = {{total}}, 
              textX = Math.round((width - ctx.measureText(text).width) / 2),
              textY = height / 2.4;
      
          ctx.fillText(text, textX, textY);

          ctx.restore();
          var fontSize = 0.75;
          ctx.font = fontSize + "rem sans-serif";
          ctx.textAlign = 'left';
          ctx.textBaseline = "middle";
          ctx.fillStyle = "#6c7293";

          var texts = "TOTAL", 
              textsX = Math.round((width - ctx.measureText(text).width) / 2.15),
              textsY = height / 1.7;
      
          ctx.fillText(texts, textsX, textsY);
          ctx.save();
        }
      }
      var transactionhistoryChartCanvas = $("#transaction-history").get(0).getContext("2d");
      var transactionhistoryChart = new Chart(transactionhistoryChartCanvas, {
        type: 'doughnut',
        data: areaData,
        options: areaOptions,
        plugins: transactionhistoryChartPlugins
      });
    }








</script> 



{{>footer}}