{{>userHeader}}
<!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg" style="height: 350px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Edit Profile</h2>
              <p>Home <span>-</span>Edit Profile</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->
  <!--================End Home Banner Area =================-->

<section style="background-color: #ecfdff">
  <div class="container py-5 col-md-6">
   
  
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLlnTa1_hvfsAbfb9EH7UlbrgkufjBlwEXIw&usqp=CAU" alt=""
              class="rounded-circle img-fluid" style="width: 150px;">
              {{#each userdt}}
            <h5 class="my-3">{{this.firstname}}</h5>
            
            <p class="text-muted mb-4">{{this.email}}</p>
            <div class="d-flex justify-content-center mb-2">
            
            </div>
          </div>
        </div>
        
      </div>
      
        <div class="col-md-8 border-right " style="width: 100%;">
          <form action="/updateUserProfile/{{this._id}}"  method="post">
            <div class="p-3 py-5" style="width: 100%;">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 mb-3"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value="{{this.firstname}}"  name="firstname"></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="{{this.lastname}}" placeholder="surname" name="lastname"></div>
                </div>
                <div class="row mt-3">
                    {{!-- <div class="col-md-12 mb-3 "><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=" {{this.mobile}}" name="mobile"></div> --}}
                    <div class="col-md-12 mb-3"><label class="labels">street</label><input type="text" class="form-control" placeholder="street" value="{{this.address.[0].street}}" name="street"></div>
                    <div class="col-md-12 mb-3"><label class="labels">district</label><input type="text" class="form-control" placeholder="district" value="{{this.address.[0].district}}" name="district"></div>
                    
                    <div class="col-md-12 mb-3"><label class="labels">State</label><input type="text" class="form-control" placeholder="state" value="{{this.address.[0].state}}" name="state"></div>
                    
                    <div class="col-md-12 mb-3"><label class="labels">Email ID</label><input type="email" class="form-control" placeholder="enter email id" value="{{this.email}}"  name="email"></div>
  
                    <div class="col-md-6 mb-3"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value="{{this.address.[0].country}}" name="country"></div>
                    <div class="col-md-6 mb-3"><label class="labels">pincode</label><input type="number" class="form-control" placeholder="pincode" value="{{this.address.[0].pincode}}"  name="pincode"></div>
                   <input type="hidden"  name="id" value="{{this.address.[0]._id}}">
               {{/each}}
                <div class="mt-5 text-center mb-3"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </div>
            </form>
        </div>
        </div>
    </div>

  </div>


  
</section>




{{>userFooter}}