{{>userHeader}}


<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <h2>My Orders</h2>
            <p>Home <span>-</span>My Orders</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb start-->
<!--================End Home Banner Area =================-->

<section style="background-color: #ecfdff">
  <div class="container py-5">
    <div class="row justify-content-center mb-3">
            {{#each orderdt}}
          {{#each products}}
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
           

 
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img src="/images/{{this.productId.image.[0]}}"
                    class="w-100" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5>Product Name:{{this.productId.productName}}</h5>
                <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">
                    
                  </div>
                 
                </div>
                <div class="mt-1 mb-0 text-muted medium">
                  <span>Product Quantity:  {{this.quantity}}</span>
                  
                </div>
                <div class="mb-2 text-muted medium">
                  <span>Status:  {{../status}}</span>
                  
                </div>
                <p class="text-truncate mb-4 mb-md-0">
              Product Description: {{this.productId.description}}
                </p>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1"> Product Price:{{this.productId.price}}</h4>
                  
                </div>
               
                <div class="d-flex flex-column mt-4">
                 <a href="/orderDetails/{{../_id}}"> <button class="btn btn-primary btn-sm" type="button">Details</button></a>

            

                  <a href="/cancelOrder/{{../_id}}"><button class="btn btn-outline-primary btn-sm mt-2" type="button"> cancel order </button></a>
                </div>
              </div>
              
            </div>
          
          </div>
        </div>
      </div>
                  {{/each}}
            {{/each}}
    </div>
    
  </div>
</section>




<style>
    .dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}


.card {
  margin-top: 50px; /* adjust as needed */
  margin-left: auto;
  margin-right: auto;
  float: none;
}

</style>


{{>userFooter}}