<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>aranoz</title>
    <link rel="icon" href="/assetuser/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assetuser/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/assetuser/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/assetuser/css/owl.carousel.min.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="/assetuser/css/nice-select.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/assetuser/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/assetuser/css/flaticon.css">
    <link rel="stylesheet" href="/assetuser/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/assetuser/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/assetuser/css/slick.css">
    <link rel="stylesheet" href="/assetuser/css/price_rangs.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/assetuser/css/style.css">








    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"
        integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css"
        integrity="sha512-8D+M+7Y6jVsEa7RD6Kv/Z7EImSpNpQllgaEIQAtqHcI0H6F4iZknRj0Nx1DCdB+TwBaS+702BGWYC0Ze2hpExQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js"
        integrity="sha512-Y+cHVeYzi7pamIOGBwYHrynWWTKImI9G78i53+azDb1uPmU1Dz9/r2BLxGXWgOC7FhwAGsy3/9YpNYaoBy7Kzg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css"
        integrity="sha512-wJgJNTBBkLit7ymC6vvzM1EcSWeM9mmOu+1USHaRBbHkm6W9EgM0HY27+UtUaprntaYQJF75rc8gjxllKs5OIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />



    <!-- Add the JavaScript file before the closing </body> tag of your HTML view file -->
    <script src="/node_modules/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>



</head>

<body>

    {{>userHeader}}
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg" style="height: 350px;">
        <div class="container">
            <div class="row justify-content-center" style="height: 300px;">
                <div class="col-lg-8" style="height: 300px;">
                    <div class="breadcrumb_iner" style="height: 300px;">
                        <div class="breadcrumb_iner_item" style="height: 300px;">
                            <h2>Products</h2>
                            <p><a href="/" style="text-decoration: none;">Home</a> <span>-</span>Products</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding" style="padding-top: 70px">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Filter Categories</h3>
                            </div>
                            <div class="widgets_inner">
                                {{#each category1}}
                                <ul class="list">
                                    <li>
                                        <a href="/categoryFilter/{{_id}}">{{categoryName}}</a>
                                        {{!-- {{#each catCount}}
                                        <span>{{count}}</span>
                                        {{/each}} --}}
                                    </li>

                                </ul>
                                {{/each}}

                            </div>
                        </aside>



                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>SORT BY PRICE</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="/highLow">High to low</a>
                                    </li>
                                    <li>
                                        <a href="/lowHigh">Low to high</a>
                                    </li>


                                </ul>
                            </div>
                        </aside>


                    </div>
                </div>

                {{!-- <div class="d-flex"><a href=""><button class="btn_3">clear</button></a></div> --}}

                <div class="col-lg-9">

                    <div class="d-flex">
                          <div>
                            <a href="/products"><button class="btn_3">clear</button></a>
                          </div>
                        <div style="margin-left: auto;">
                            <form >
                                <div style="display: flex; justify-content: center;">
                                    <input class="input" name="search" placeholder="Search..." type="search"
                                        style="width: 100%; height: 40px;">
                                    <input type="submit" value="search" class="btn_3"
                                        style="height: 40px; margin-left: 10%;">
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row align-items-center latest_product_inner">
                        {{#each data}}
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                               <a href="/singleProduct/{{this._id}}"><img src="/images/{{this.image.[0]}}" alt=""></a> 
                                <div class="single_product_text  col-md-12">
                                    <h4 style="cursor: pointer;">{{this.productName}}</h4>
                                    <h3 style="cursor: pointer;">&#8377;{{this.price}}</h3>
                                    <a href="/singleProduct/{{this._id}}"
                                        style="text-decoration: none; font-size: 16px; margin-left: 5px; color: blue;">View
                                        Product</a>
                                    <div class="d-flex">

                                        <a onclick="addToCart('{{this._id}}')" class="add_cart "
                                            style="cursor: pointer;">+ add to cart</a>

                                        <a onclick="addToWishlist('{{this._id}}')" style="cursor: pointer;"><i
                                                class="ti-heart "
                                                style="margin-left: 40px; margin-bottom: 10px; "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                <style>
    .pagination-container {
        display: flex;
        justify-content: center;
    }
</style>


                        <div class="pagination-container">
                        <nav aria-label="Page navigation example" > 
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="/products/?page=1" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="/products/?page=1">1</a></li>
                                <li class="page-item"><a class="page-link" href="/products/?page=2">2</a></li>
                                <li class="page-item"><a class="page-link" href="/products/?page=3">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="/products/?page=3" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                              </div>

                        <style>
                            /* Change the color of the pagination links */
                            .pink-pagination .pagination .page-item .page-link {
                                color: pink;
                            }

                            /* Change the color of the active pagination link */
                            .pink-pagination .pagination .page-item.active .page-link {
                                background-color: pink;
                                border-color: pink;
                            }

                            .input {
                                max-width: 190px;
                                background-color: #f5f5f5;
                                color: #ff3368;
                                padding: .15rem .5rem;
                                min-height: 40px;
                                border-radius: 4px;
                                outline: none;
                                border: none;
                                line-height: 1.15;
                                box-shadow: 0px 10px 20px -18px;
                            }

                            input:focus {
                                border-bottom: 2px solid #ff3368;
                                border-radius: 4px 4px 2px 2px;
                            }

                            input:hover {
                                outline: 1px solid lightgrey;
                            }
                        </style>
                        <style>
                            .input {
                                width: 300px;
                                height: 40px;
                                border: 2px solid pink;
                            }
                        </style>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->






    {{>userFooter}}



    <!-- jquery plugins here-->
    <script src="/assetuser/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/assetuser/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/assetuser/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/assetuser/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/assetuser/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/assetuser/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/assetuser/js/owl.carousel.min.js"></script>
    <script src="/assetuser/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/assetuser/js/slick.min.js"></script>
    <script src="/assetuser/js/jquery.counterup.min.js"></script>
    <script src="/assetuser/js/waypoints.min.js"></script>
    <script src="/assetuser/js/contact.js"></script>
    <script src="/assetuser/js/jquery.ajaxchimp.min.js"></script>
    <script src="/assetuser/js/jquery.form.js"></script>
    <script src="/assetuser/js/jquery.validate.min.js"></script>
    <script src="/assetuser/js/mail-script.js"></script>
    <script src="/assetuser/js/stellar.js"></script>
    <script src="/assetuser/js/price_rangs.js"></script>
    <!-- custom js -->
    <script src="/assetuser/js/custom.js"></script>
</body>

</html>



<script>






    $(document).ready(function () {
        $('#cart').click(function () {
            $.toast({
                heading: 'Success',
                text: 'Here is some kind of success message with a success icon that you can notice at the left side.',
                icon: 'success'
            })
        })
    })

</script>


<script>

    function addToCart(proId) {
        $.ajax({
            url: '/addToCart/' + proId,
            method: 'get',
            success: (response) => {
                if (response.message === "Product already in cart") {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Product already in cart',
                        showConfirmButton: false,
                        timer: 1500
                    })
                } else if (response.message === "Product added to cart") {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Product added to cart',
                        showConfirmButton: false,
                        timer: 1500
                    })
                } else if (response.message === "hello") {
                    location.href = '/login'

                    // Handle other response messages
                } else if (response.message === "Product is out of stock") {
                    Swal.fire({
                        position: 'top-middle',

                        title: 'product is out of stock',
                        showConfirmButton: false,
                        timer: 1500
                    })

                }
            },
            error: (error) => {
                // Handle errors
            }
        });

    }



    function addToWishlist(proId) {
        $.ajax({
            url: '/addToWishlist/' + proId,
            method: 'get',
            success: (response) => {
                if (response.message === "Product already in wishlist") {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Product already in wishlist',
                        showConfirmButton: false,
                        timer: 1500
                    })
                } else if (response.message === "Product added to wishlist") {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Product added to wishlist',
                        showConfirmButton: false,
                        timer: 1500
                    })
                } else if (response.message === "hello") {
                    location.href = '/login'
                    // Handle other response messages
                }
            },
            error: (error) => {
                // Handle errors
            }
        });

    }



</script>