<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>aranoz</title>
  <link rel="icon" href="/assetuser/img/favicon.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assetuser/css/bootstrap.min.css">
  <!-- animate CSS -->
  <link rel="stylesheet" href="/assetuser/css/animate.css">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="/assetuser/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assetuser/css/lightslider.min.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/assetuser/css/all.css">
  <!-- flaticon CSS -->
  <link rel="stylesheet" href="/assetuser/css/flaticon.css">
  <link rel="stylesheet" href="/assetuser/css/themify-icons.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/assetuser/css/magnific-popup.css">
  <!-- style CSS -->
  <link rel="stylesheet" href="/assetuser/css/style.css">

  <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Include jQuery Zoom plugin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>

</head>

<body>

  {{>userHeader}}
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg" style="height: 350px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Shop Single</h2>
              <p>Home <span>-</span> Shop Single</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->
  <!--================End Home Banner Area =================-->

  <!--================Single Product Area =================-->

  <div class="product_image_area section_padding">
    <div class="container">


      <div class="row s_product_inner justify-content-between">

        <div class="col-lg-7 col-xl-7">

          <div class="product_slider_img">



            <div id="vertical">
              <div class="zoom" data-thumb="/images/{{data.image.[0]}}">
                <img src="/images/{{data.image.[0]}}" alt="">
              </div>
              <div class="zoom" data-thumb="/images/{{data.image.[1]}}">
                <img src="/images/{{data.image.[1]}}" alt="">
              </div>
              <div class="zoom" data-thumb="/images/{{data.image.[2]}}">
                <img src="/images/{{data.image.[2]}}" alt="">
              </div>
            </div>


          </div>
        </div>

        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">

            {{!-- {{#each data}} --}}
            <h3>{{data.productName}}</h3>
            <h2>&#8377;{{data.price}}</h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Category</span> : {{data.categoryId.categoryName}}</a>
              </li>
              <li>
               {{#ifCond data.stock '==' "Out of Stock" }}
                <a href="#"  style="color: red;"> <span>Availibility</span> : {{data.stock}}</a>
                {{else}}
                   <a href="#"> <span>Availibility</span> : {{data.stock}}</a>
                {{/ifCond}}
              </li>
            </ul>

           <p>
              {{data.description}}
            </p>
            <div class="card_area d-flex justify-content-between align-items-center">

             <a onclick="addToCart('{{data._id}}')" class="btn_3" style="cursor: pointer; color: white ;">add to cart</a>
              <a onclick="addToWishlist('{{data._id}}')" class="like_us"><i class="ti-heart"></i></a>
            </div>
          </div>
        </div>


      </div>

    </div>



    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    <section class="product_description_area">
      <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
         

          {{!-- <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
              aria-selected="false">Comments</a>
          </li> --}}
         
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
            
          </div>
          {{!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <h5>Width</h5>
                    </td>
                    <td>
                      <h5>128mm</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Height</h5>
                    </td>
                    <td>
                      <h5>508mm</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Depth</h5>
                    </td>
                    <td>
                      <h5>85mm</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Weight</h5>
                    </td>
                    <td>
                      <h5>52gm</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Quality checking</h5>
                    </td>
                    <td>
                      <h5>yes</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Freshness Duration</h5>
                    </td>
                    <td>
                      <h5>03days</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>When packeting</h5>
                    </td>
                    <td>
                      <h5>Without touch of hand</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>Each Box contains</h5>
                    </td>
                    <td>
                      <h5>60pcs</h5>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> --}}
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row">
              <div class="col-lg-6">
                <div class="comment_list">
                  <div class="review_item">
                    <div class="media">
                      <div class="d-flex">
                        {{!-- <img src="/assetuser/img/product/single-product/review-1.png" alt="" /> --}}
                      </div>
                      <div class="media-body">
                        <h4>Blake Ruiz</h4>
                        <h5>12th Feb, 2017 at 05:56 pm</h5>

                      </div>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo
                    </p>
                  </div>
                  {{!-- <div class="review_item reply">
                    <div class="media">
                      <div class="d-flex">
                        <img src="/assetuser/img/product/single-product/review-2.png" alt="" />
                      </div>
                      <div class="media-body">
                        <h4>Blake Ruiz</h4>
                        <h5>12th Feb, 2017 at 05:56 pm</h5>
                        <a class="reply_btn" href="#">Reply</a>
                      </div>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo
                    </p>
                  </div> --}}
                  {{!-- <div class="review_item">
                    <div class="media">
                      <div class="d-flex">
                        <img src="/assetuser/img/product/single-product/review-3.png" alt="" />
                      </div>
                      <div class="media-body">
                        <h4>Blake Ruiz</h4>
                        <h5>12th Feb, 2017 at 05:56 pm</h5>
                        <a class="reply_btn" href="#">Reply</a>
                      </div>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo
                    </p>
                  </div> --}}
                </div>
              </div>
              <div class="col-lg-6">
                <div class="review_box">
                  <h4>Post a comment</h4>
                  <form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
                    novalidate="novalidate">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" />
                      </div>
                    </div>
                    
                    
                    <div class="col-md-12">
                      <div class="form-group">
                         <input type="text" class="form-control" id="review" name="review" placeholder="enter the review" />
                        {{!-- <textarea class="form-control" name="message" id="message" rows="1"
                          placeholder="Message"></textarea> --}}
                      </div>
                    </div>
                    <div class="col-md-12 text-right">
                      <button type="submit" value="submit" class="btn_3">
                        Submit Now
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
            <div class="row">
              <div class="col-lg-6">
                 <div class="row total_rate">
                  
                  <div class="col-6">
                    <div class="rating_list">
                   <h3 style="margin-right: auto;  color: rgb(255, 0, 140);">USER REVIEWS</h3>

                    </div>
                  </div>
                </div> 
               
                <div class="review_list">
                {{#each reviews}}

                  <div class="review_item" style="">
                     <h6 style="margin-bottom: 0px;">{{userName}}</h6>
                    <p style="margin-top: 0px; ">
                      {{message}}
                    </p>
                  </div>
                {{/each}}
                </div>
              </div>
              {{#if orderfind}}
              <div class="col-lg-6">
                <div class="review_box">
                  <h4>Add a Review</h4>



                  <form class="row contact_form" action="/addReview/{{data._id}}" method="post" novalidate="novalidate">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Your Full name" />
                      </div>
                    </div>
                   
                    
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" name="review" placeholder="enter your review" />
                      </div>
                    </div>
                    <div class="col-md-12 text-right">
                      <button type="submit" value="submit" class="btn_3">
                        Submit Now
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              {{else}}
            <h6 style="color: rgb(255, 0, 140) ;"> Please add review after purchasing the product</h6>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Product Description Area =================-->

    <!-- product_list part start-->
    {{!-- <section class="product_list best_seller">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="section_tittle text-center">
              <h2>Best Sellers <span>shop</span></h2>
            </div>
          </div>
        </div>
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-12">
            <div class="best_product_slider owl-carousel">
              <div class="single_product_item">
                <img src="/assetuser/img/product/product_1.png" alt="">
                <div class="single_product_text">
                  <h4>Quartz Belt Watch</h4>
                  <h3>$150.00</h3>
                </div>
              </div>
              <div class="single_product_item">
                <img src="/assetuser/img/product/product_2.png" alt="">
                <div class="single_product_text">
                  <h4>Quartz Belt Watch</h4>
                  <h3>$150.00</h3>
                </div>
              </div>
              <div class="single_product_item">
                <img src="/assetuser/img/product/product_3.png" alt="">
                <div class="single_product_text">
                  <h4>Quartz Belt Watch</h4>
                  <h3>$150.00</h3>
                </div>
              </div>
              <div class="single_product_item">
                <img src="/assetuser/img/product/product_4.png" alt="">
                <div class="single_product_text">
                  <h4>Quartz Belt Watch</h4>
                  <h3>$150.00</h3>
                </div>
              </div>
              <div class="single_product_item">
                <img src="/assetuser/img/product/product_5.png" alt="">
                <div class="single_product_text">
                  <h4>Quartz Belt Watch</h4>
                  <h3>$150.00</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> --}}
    <!-- product_list part end-->

    <style>
      #vertical {
        display: flex;
        flex-direction: column;
      }

      .zoom {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .zoom img {
        max-width: 100%;
        max-height: 100%;
      }
    </style>


    {{>userFooter}}
    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="/assetuser/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/assetuser/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/assetuser/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/assetuser/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/assetuser/js/lightslider.min.js"></script>
    <!-- swiper js -->
    <script src="/assetuser/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/assetuser/js/owl.carousel.min.js"></script>
    <script src="/assetuser/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/assetuser/js/slick.min.js"></script>
    <script src="/assetuser/js/swiper.jquery.js"></script>
    <script src="/assetuser/js/jquery.counterup.min.js"></script>
    <script src="/assetuser/js/waypoints.min.js"></script>
    <script src="/assetuser/js/contact.js"></script>
    <script src="/assetuser/js/jquery.ajaxchimp.min.js"></script>
    <script src="/assetuser/js/jquery.form.js"></script>
    <script src="/assetuser/js/jquery.validate.min.js"></script>
    <script src="/assetuser/js/mail-script.js"></script>
    <script src="/assetuser/js/stellar.js"></script>
    <!-- custom js -->
    <script src="/assetuser/js/theme.js"></script>
    <script src="/assetuser/js/custom.js"></script>


<script>

   function addToCart(proId) {
    $.ajax({
    url: '/addToCart/' + proId,
    method: 'get',
    success: (response) => {
        if (response.message === "Product already in cart") {
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Product already in cart',
                showConfirmButton: false,
                timer: 1500
            })
        } else if (response.message === "Product added to cart") {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Product added to cart',
                showConfirmButton: false,
                timer: 1500
            })
        } else if (response.message==="hello") {
            location.href='/login'

            // Handle other response messages
        }
        else if (response.message === "Product is out of stock"){
                      Swal.fire({
                        position: 'top-center',
                        
                        title: 'product is out of stock',
                        showConfirmButton: false,
                        timer: 1500
                    })

                }
    },
    error: (error) => {
        // Handle errors
    }
});

}



 function addToWishlist(proId) {
    $.ajax({
    url: '/addToWishlist/' + proId,
    method: 'get',
    success: (response) => {
        if (response.message === "Product already in wishlist") {
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Product already in wishlist',
                showConfirmButton: false,
                timer: 1500
            })
        } else if (response.message === "Product added to wishlist") {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Product added to wishlist',
                showConfirmButton: false,
                timer: 1500
            })
        } else if (response.message==="hello") {
            location.href='/login'
            // Handle other response messages
        }
    },
    error: (error) => {
        // Handle errors
    }
});

}



</script>



</body>

</html>